<body>
    <link rel='stylesheet' href='/stylesheets/auth.css' />
    <div class="wrapper">
        <h2>Order detail</h2>

            <ul class="order-list">
                <li class=order-item>
                    <p class = "order-text">Danh sách sản phẩm</p>
                    <p class = "order-text">Đơn giá</p>
                    <p class = "order-text">Số lượng</p>
                </li>
                <% for (var i=0; i < productList.length; i++) { %>
                    <li class=order-item>
                        <p class = "order-text">
                            <%= productList[i].name %>
                        </p>
                        <p class = "order-text">
                            <%= productList[i].price %>
                        </p>
                        <p class = "order-text">
                            <%= productList[i].quantity %>
                        </p>
                    </li>
                    <% } %>
            </ul>
    </div>


</body>