<form action='/forgot/waiting' method='get' class='auth_form'>
	<div style='text-align: center;'>
		<i class='fa-regular fa-envelope' style='font-size: 50px;width:initial'></i>
		<br />
		<h2>We will send a reset link to your email</h2>
	</div>
	<i class='fa-solid fa-at'></i>
	<input type='email' id='forgot_username' name='username' placeholder='Email' class='auth_input' />
	<br />
	<input type='submit' value='SEND' id='forgot_submit' class='auth_submit' />
	<p>or go back to <a href='/'>LOGIN</a></p>
</form>