<form method='post' class='auth_form' id='forgot_form'>
	<h2 style='text-align: center;'>Reset your password</h2>
	<i class='fa-solid fa-lock'></i>
	<input type='password' id='forgot_password' name='password' placeholder='New password' class='auth_input' />
	<br />
	<i class='fa-solid fa-key'></i>
	<input
		type='password'
		id='forgot_repassword'
		name='repassword'
		placeholder='Re-enter new password'
		class='auth_input'
	/>
	<br />
	<p style='color: red;display:none;text-shadow:1px 1px black,1px 1px black' id='forgot_error'>Password is not match</p>
	<input type='submit' value='SUBMIT' id='forgot_submit' class='auth_submit' />
</form>
<script src='/javascripts/forgot.js'></script>