<form action='' class='auth_form'>
	<div style='text-align: center;'>
		<i
			class='fa-solid fa-arrow-right-to-bracket'
			style='font-size:50px;width:initial'
		></i>
		<br />
		<h2>JOIN US NOW</h2>
	</div>
	<div style='display: flex;'>
		<div>
			<i class='fa-solid fa-user'></i>
			<input
				type='email'
				id='signup_username'
				name='username'
				placeholder='Username'
				class='auth_input'
			/>
			<br />
			<i class='fa-solid fa-lock'></i>
			<input
				type='password'
				id='signup_password'
				name='password'
				placeholder='Password'
				class='auth_input'
			/>
			<br />
			<i class='fa-solid fa-key'></i>
			<input
				type='password'
				id='signup_repassword'
				name='repassword'
				placeholder='Re-enter password'
				class='auth_input'
			/>
			<br />
		</div>
		<div>
			<i class='fa-solid fa-signature'></i>
			<input
				type='text'
				id='signup_name'
				name='name'
				placeholder='Name'
				class='auth_input'
			/>
			<br />
			<i class='fa-solid fa-location-dot'></i>
			<input
				type='text'
				id='signup_address'
				name='address'
				placeholder='Address'
				class='auth_input'
			/>
			<br />
			<i class='fa-regular fa-image'></i>
			<input
				type='text'
				id='signup_ava'
				name='ava'
				placeholder="Avatar's URL"
				class='auth_input'
			/>
			<br />
		</div>
	</div>
	<input type='submit' value='SIGNUP' id='signup_submit' class='auth_submit' />
	<p>Go back to <a href='/'>LOGIN</a> </p>

</form>