.admin_container {
	display: grid;
	grid-template-columns: 25% 75%;
	min-height: 100vh;
	max-height: 100vh;

	.sidebar {
		background-color: rgb(194, 0, 194);
		color: white;
		text-align: center;

		hr {
			background-image: linear-gradient(
				to right,
				rgba(255, 255, 255, 0),
				rgba(255, 255, 255, 0.75),
				rgba(255, 255, 255, 0)
			);
		}

		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			margin: 10px 0;
		}

		nav {
			text-align: left;

			.sidebar_item {
				padding: 10px 0;

				a {
					text-decoration: none;
					color: white;
					cursor: pointer;
					display: inline-block;
					width: 65%;
				}

				i {
					width: 15%;
					text-align: center;

					&:hover {
						cursor: pointer;
					}
				}

				.sidebar_subitem {
					display: none;

					a {
						display: block;
						padding: 5px 17%;
						font-size: 10px;
						width: 100%;
					}
				}

				&:hover {
					color: rgb(255, 0, 255);
					background-color: purple;

					a {
						color: rgb(255, 0, 255);
					}

					.sidebar_subitem {
						display: block;

						a:hover {
							background-color: rgb(65, 0, 65);
							color: white;
						}
					}
				}
			}
		}
	}

	.admin_body {
		background-color: rgb(255, 255, 255);
		padding: 5vh 5vw;

		.admin_search {
			width: 45%;
			border-radius: 15px;
			outline: none;
			border: 1px black solid;
			margin-top: 10px;
			padding: 5px 10px;
		}

		.sort {
			width: 45%;
		}

		.admin_profileContainer {
			.admin_form {
				display: flex;
				flex-direction: column;
				padding: 10px 10%;

				input {
					margin-bottom: 10px;
					outline: none;
					padding: 5px 5px;
				}

				button {
					background-color: rgb(255, 0, 255);
					border: none;
					color: white;
					padding: 5px 10px;
					border-radius: 15px;

					&:hover {
						cursor: pointer;
						box-shadow: rgba(129, 129, 129, 0.7) 0px 5px 5px 0px;
					}
				}
			}
		}

		.admin_accountContainer {
			.account_list {
				margin-top: 10px;
				background-color: whitesmoke;
				padding: 10px 10px;

				.account_item {
					display: grid;
					grid-template-columns: 20% 35% 35% 10%;
					margin: 10px 0;

					img {
						width: 50px;
						border-radius: 50%;
						height: 50px;
						border: 1px solid white;
					}

					p,
					a {
						align-self: center;
					}
				}
			}

			.paginContainer {
				text-align: center;
				margin-top: 10px;

				button {
					background-color: white;
					border: none;
					color: rgb(255, 0, 255);
					width: 20px;

					&:hover {
						cursor: pointer;
					}
				}
			}

			.account_banList {
				overflow-y: scroll;
				max-height: 60vh;

				a {
					text-decoration: none;
					color: white;
					background-color: red;
					border-radius: 10px;
					text-align: center;
					padding: 5px 5px;
					margin-right: 5px;
				}
			}
		}

		.account_detailsContainer {
			display: flex;
			justify-content: space-between;
			padding: 10px 10px;
			border: 1px black solid;
			border-radius: 15px;

			img {
				height: 100px;
			}
		}

		.product_detailsContainer {
			padding: 10px 10px;
			border: 1px black solid;
			border-radius: 15px;
			display: grid;
			grid-template-columns: 30% 70%;
			grid-gap: 10px;
			height: 80vh;

			.product_detailsCard {
				display: flex;
				flex-direction: column;

				p {
					margin: 5px 0;
				}
			}

			img {
				width: 100px;
				height: 100px;
				border-radius: 10px;
			}

			button {
				background-color: red;
				color: white;
				border: none;
				padding: 5px 5px;
				border-radius: 10px;
				height: 30px;
			}
		}

		#add_form {
			display: flex;
			flex-direction: column;
			border: 1px black solid;
			margin: 10px 20%;
			padding: 10px 10px;

			input {
				margin-bottom: 10px;
				outline: none;
				border-radius: 10px;
				border: 1px solid black;
				padding: 5px 5px;
			}

			button {
				background-color: rgb(255, 0, 255);
				color: white;
				width: fit-content;
				border: none;
				border-radius: 15px;
				padding: 5px 5px;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.order_detailsContainer {
			border: 1px solid black;
			padding: 10px 10px;
			border-radius: 15px;

			div {
				margin-top: 15px;
			}

			img {
				width: 50px;
				height: 50px;
				border-radius: 15px;
			}

			.order_itemContainer {
				display: grid;
				grid-template-columns: 15% 55% 15% 15%;
				border: 1px solid rgb(172, 172, 172);
				margin: 10px 0;
				border-radius: 15px;
			}

			button {
				border: none;
				color: white;
				padding: 5px 5px;
				border-radius: 10px;
			}
		}
	}
}
