.admin_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  min-height: 100vh;
  max-height: 100vh;
}

.admin_container .sidebar {
  background-color: #c200c2;
  color: white;
  text-align: center;
}

.admin_container .sidebar hr {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.admin_container .sidebar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0;
}

.admin_container .sidebar nav {
  text-align: left;
}

.admin_container .sidebar nav .sidebar_item {
  padding: 10px 0;
}

.admin_container .sidebar nav .sidebar_item a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  width: 65%;
}

.admin_container .sidebar nav .sidebar_item i {
  width: 15%;
  text-align: center;
}

.admin_container .sidebar nav .sidebar_item i:hover {
  cursor: pointer;
}

.admin_container .sidebar nav .sidebar_item .sidebar_subitem {
  display: none;
}

.admin_container .sidebar nav .sidebar_item .sidebar_subitem a {
  display: block;
  padding: 5px 17%;
  font-size: 10px;
  width: 100%;
}

.admin_container .sidebar nav .sidebar_item:hover {
  color: magenta;
  background-color: purple;
}

.admin_container .sidebar nav .sidebar_item:hover a {
  color: magenta;
}

.admin_container .sidebar nav .sidebar_item:hover .sidebar_subitem {
  display: block;
}

.admin_container .sidebar nav .sidebar_item:hover .sidebar_subitem a:hover {
  background-color: #410041;
  color: white;
}

.admin_container .admin_body {
  background-color: white;
  padding: 5vh 5vw;
}

.admin_container .admin_body .admin_search {
  width: 45%;
  border-radius: 15px;
  outline: none;
  border: 1px black solid;
  margin-top: 10px;
  padding: 5px 10px;
}

.admin_container .admin_body .sort {
  width: 45%;
}

.admin_container .admin_body .admin_profileContainer .admin_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10%;
}

.admin_container .admin_body .admin_profileContainer .admin_form input {
  margin-bottom: 10px;
  outline: none;
  padding: 5px 5px;
}

.admin_container .admin_body .admin_profileContainer .admin_form button {
  background-color: magenta;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
}

.admin_container .admin_body .admin_profileContainer .admin_form button:hover {
  cursor: pointer;
  -webkit-box-shadow: rgba(129, 129, 129, 0.7) 0px 5px 5px 0px;
          box-shadow: rgba(129, 129, 129, 0.7) 0px 5px 5px 0px;
}

.admin_container .admin_body .admin_accountContainer .account_list {
  margin-top: 10px;
  background-color: whitesmoke;
  padding: 10px 10px;
}

.admin_container .admin_body .admin_accountContainer .account_list .account_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 35% 35% 10%;
      grid-template-columns: 20% 35% 35% 10%;
  margin: 10px 0;
}

.admin_container .admin_body .admin_accountContainer .account_list .account_item img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  border: 1px solid white;
}

.admin_container .admin_body .admin_accountContainer .account_list .account_item p,
.admin_container .admin_body .admin_accountContainer .account_list .account_item a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.admin_container .admin_body .admin_accountContainer .paginContainer {
  text-align: center;
  margin-top: 10px;
}

.admin_container .admin_body .admin_accountContainer .paginContainer button {
  background-color: white;
  border: none;
  color: magenta;
  width: 20px;
}

.admin_container .admin_body .admin_accountContainer .paginContainer button:hover {
  cursor: pointer;
}

.admin_container .admin_body .admin_accountContainer .account_banList {
  overflow-y: scroll;
  max-height: 60vh;
}

.admin_container .admin_body .admin_accountContainer .account_banList a {
  text-decoration: none;
  color: white;
  background-color: red;
  border-radius: 10px;
  text-align: center;
  padding: 5px 5px;
  margin-right: 5px;
}

.admin_container .admin_body .account_detailsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
  border: 1px black solid;
  border-radius: 15px;
}

.admin_container .admin_body .account_detailsContainer img {
  height: 100px;
}

.admin_container .admin_body .product_detailsContainer {
  padding: 10px 10px;
  border: 1px black solid;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  grid-gap: 10px;
}

.admin_container .admin_body .product_detailsContainer .product_detailsCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin_container .admin_body .product_detailsContainer .product_detailsCard p {
  margin: 5px 0;
}

.admin_container .admin_body .product_detailsContainer img {
  width: 100px;
  height: 100px;
}

.admin_container .admin_body #add_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px black solid;
  margin: 10px 20%;
  padding: 10px 10px;
}

.admin_container .admin_body #add_form input {
  margin-bottom: 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px 5px;
}

.admin_container .admin_body #add_form button {
  background-color: magenta;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 15px;
  padding: 5px 5px;
}

.admin_container .admin_body #add_form button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=admin.css.map */