* {
    font-family: 'Montserrat', sans-serif;
  }
  

  

  

  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .header {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(180deg, #4b7b9b, #6e306c);
    width: 100vw;
    height: 100px;
    top: 0;
    z-index: 99999;
  }
  
  .nav {
    display: flex;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .nav:first-child {
    width: 80%;
  }
  
  .nav:last-child {
    width: 20%;
  }
  
  .nav-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
  }
  
  .nav-search {
    outline: none;
    padding: 4px;
    border-radius: 4px;
    border: 0;
    line-height: 16px;
    width: 40vw;
  }
  
  .fa-magnifying-glass {
    font-size: 20px;
  }
  
  .logo {
    height: 100px;
  }
  
  
  
  .container {
    width: 1200px;
    margin: 120px auto 370px auto;
  }
  
  
  .footer {
    width: 100%;
    background-color: #f5f5f5;

    bottom: 0;
    height: 350px;
  }
  
  .list-policy {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .policy-item {
    display: inline-block;
    margin: 20px;
  }
  
  .policy-item--separate::after {
    content: "";
    position: relative;
    border-left: 1.5px solid rgba(197, 193, 193, 0.5);
    font-size: 14px;
    right: -20px;
  }
  
  .policy-item a{
    text-decoration: none;
    color: #808080;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .certificate {
    display: flex;
    justify-content: center;
  }
  .certificate a {
    margin-left: 20px;
  }
  
  .certificate-img {
    width: 100%;
  }
  
  .ending-script {
    margin: 0;
    margin-top: 8px;
    text-align: center;
    color: rgb(102, 101, 101);
  }
  .ending-script:last-child {
    padding-bottom: 20px;
  }
  

  
  .fa-cart-shopping {
    font-size: 28px;
  }