<div class='admin_container'>
	<div class='sidebar'>
		<img src={{ava}} alt='Avatar' />
		<p>Hi, {{username}}</p>
		<br /><hr />
		<nav>
			<div class='sidebar_item'>
				<i class='fa-solid fa-user'></i>
				<a href='/admin'>Admin</a>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-list'></i>
				<a href='/account'>Account</a>
				<i class='fa-solid fa-caret-down'></i>
				<div class='sidebar_subitem'>
					<a href='/account'>View account list</a>
					<a href='/account/ban'>Ban account</a>
					<a href='/account/unban'>Unban account</a>
				</div>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-cart-flatbed'></i>
				<a href='/product'>Product</a>
				<i class='fa-solid fa-caret-down'></i>
				<div class='sidebar_subitem'>
					<a href='/product'>View product list</a>
					<a href='/product/add'>Add new product</a>
					<a href='/product/update'>Update product</a>
				</div>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-money-bills'></i>
				<a href='/order'>Order</a>
			</div>
			<div class='sidebar_item'>
				<i class='fa-solid fa-right-from-bracket'></i>
				<a href='/logout'>Logout</a>
			</div>
			<hr />
		</nav>
	</div>
	<div class='admin_body'>
		<h1>Update a product</h1>
		<hr />
		<form method='post' id='add_form'>
			<label>ID:</label>
			<input type='text' id='id' />
			<label>Name:</label>
			<input type='text' id='name' />
			<label>Price:</label>
			<input type='number' id='price' />
			<label>Brand:</label>
			<input type='text' id='brand' />
			<div>
				<label>Status:</label>
				<input type='radio' id='status_on' name='status' value='on' checked='checked' />
				<label for='status_on'>On stock</label>
				<input type='radio' id='status_out' name='status' value='out' />
				<label for='status_out'>Out of stock</label>
			</div>
			<label>Description:</label>
			<input type='text' id='des' />
			<label>Categories:</label>
			<input type='text' id='cat' />
			<label>Add images:</label>
			<input type='file' multiple id='ava' />
			<p id='error_addProduct' style='color: red;display:none'>Invalid input</p>
			<p id='success_addProduct' style='color: rgb(0, 180, 0);display:none'>Success!</p>
			<div style='text-align: right;'>
				<button>Submit</button>
			</div>
		</form>
	</div>
</div>
<script src='/javascripts/admin/updateProduct.js'></script>